@import 'tailwindcss/tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(192, 10, 39);
  padding: 2%;
  height: 100px;
  
}


.menu{
  display: flex;
  margin-left: 0%;
  width: 40%;
  
}
.linkPhoneAndNumber{
  width: 100%;
  display: flex;
}
.phoneAndNumber .linkPhoneAndNumber p{
  font-size: 110%;
  font-weight: bold;
  margin-left: 0%;
  width: 200%;
}

.searchIconDiv i {
  font-size: 24px;
  color: white;
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  border: white solid 4px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.searchIconDiv i:hover{
  color: rgb(43, 189, 43);
  border: rgb(43, 189, 43) solid 4px;
}

.searchIconDiv{
  font-size: 130%;
  color: white;
  margin-right: 5%;
  margin-top: -1%;
}
.linkStyleNav {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  padding: 5px;
  border: 2px solid transparent;
}
.linkStyleNav:hover {
  border-bottom: 3px solid rgb(43, 189, 43);
}
.linkStyleNavLogin{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  padding: 5px;
  border: 2px solid transparent;
  display: flex;
}
.veggiePizza{
  width: 100%;
}
.HomeBodyMain{
margin-bottom: 1%;
}

.HomeBodyMain h1{
color: white;
font-size: 700%;
display: flex;
position: absolute;
margin-top: -45%;
margin-left: 30%;
height: 400px;
font-family: 'Avenir Next',sans-serif;
font-weight: 900;
}
.HomeBodyMain h2{
  color: white;
  font-size: 300%;
  background: rgb(255, 174, 0);
  border-radius:50px;
  justify-content: center;
  position: absolute;
  margin-top: -32%;
  margin-left: 22.5%;
  font-family: 'Avenir Next',sans-serif;
  font-weight: 900;
padding: 0 2% 0 2%;
  }
  .mainBodyPromo{
    display: flex;
    justify-content: space-between;
    margin-top: -1%;
    position: relative;
    z-index: 5;

  }
  .MainPromo1{
    background-color: rgb(0, 161, 73);
    width: 50%;
    justify-content: left;
    align-items: left;
    padding-left: 5%;
    height: 580px;
    z-index: 1;
    
  }
  .MainPromo1 h2{
    color: white;
    margin-left: 25%;
    font-family: 'Avenir Next',sans-serif;
    font-size: 300%;
    font-weight: lighter;
  }
  .MainPromo1 h1{
   color: white;
   font-size:400%;
   font-family: 'Avenir Next',sans-serif;
   font-weight: 800;
  }
  .promo1Text{
    color: white;
    margin-bottom: 1%;
    font-size: 150%;

  }
  
  .MainPromo1 button{
   background-color: white;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   border: none;
   font-size: 100%;
   padding: 20px;
   font-weight: bold;
   width: 40%;
   z-index: 2;
   position: relative;
  }
  .promo1Price{
    color: yellow;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 10%;
  }
  .mainBodyPromo img{
    position: absolute;
    width: 700px;
    height: 235px;
    margin-left: 5%;
    margin-top: -3%;
    z-index: 1;
  }
  .MainPromo2{
    background-color: rgb(192, 10, 39);
    
    width: 50%;
    justify-content: left;
    align-items: left;
    padding-left: 5%;
    height: 580px;
    z-index: 1;
  }
 
  .MainPromo2 h2{
    color: white;
    margin-left: 25%;
    font-family: 'Avenir Next',sans-serif;
    font-size: 300%;
    font-weight: lighter;
  }
  .MainPromo2 h1{
    color: white;
    font-size:400%;
    font-family: 'Avenir Next',sans-serif;
    font-weight: 800;
  }
  .troisPizzaMaxi{
    color: white;
    margin-bottom: 5%;
    font-size: 150%;

  }
  .laTroisieme{
    color: yellow;
    font-size: 200%;
    font-weight: bold;
  }
  .laMoinsChère{
    color: white;
    margin-bottom: 6%;
    font-size: 100%;
  }
  .MainPromo2 button{
   background-color: white;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   border: none;
   font-size: 100%;
   padding: 20px;
   font-weight: bold;
   width: 40%;
   z-index: 2;
   position: relative;
  }
  .MainPromo2 img{
    position: absolute;
    width: 478px;
    height: 478px;
    margin-left: 18%;
    margin-top: -15%;
    z-index: 0;
  }
  .ourPizzaMain{
    background-color: white;
    height:300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
    position: relative;
    margin-top: 0%;
  }
  .ourPizzaMain h1{
    color: rgb(192, 10, 39);
    font-weight: bold;
    margin-left: 40%;
    margin-top: -2%;
    font-size:400%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .categoryPizza{
    display: flex;
    justify-content: space-around;
    margin: 5% 10% 0% 10%;
  }
  .categoryPizzaButton{
    border-radius: 50px;
    width: 15%;
    height: 60px;
    border: none;
    background-color: white;
    color: white;
    font-weight: bold;
    font-size: 110%;
    position: relative;
    z-index: 5;
  }
  #baseTomate{
    border: 4px solid rgb(230, 22, 57);
    color: black;
  }
  #baseCreme{
    border: 4px solid rgb(241, 241, 100);
    color: black;

  }
  .tomatoSelected{
    background-color: rgb(230, 22, 57);
  }
  .baseCreme{
background-color: rgb(241, 241, 100);
  }
  .baseChocolat{
    background-color: rgb(206, 206, 206);
  }
  #baseChocolat{
    border: 4px solid rgb(206, 206, 206);
    color: black;
  }
  .pizzaCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0 0 25%;
    width: 50%;
  }
  
  .flexCardPizza {
    flex-basis: 48%; 
    border: solid green 1px;
    margin-bottom: 2%;
    border-radius: 45px;
    overflow: hidden;
 
  }
  
  .flexRowPizzaCard{
    display: flex;
    border-radius:  50px;
    width: 100%;
    z-index: 0;
    position: relative;
    
    
  }
  .pizzaCardImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  
  .pizzaCardDescription {
    background-color: rgb(72, 153, 72);
    color: white;
    margin-top: 2px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 5%;
    height: 200px;
  }
 .loyaltyCardMain{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
  border-radius: 45px;
  width: 80%;
  height: 400px;
  margin: 0% 10% 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

 } 
 .loyaltyCardMain div {
background-image: url("./picturesFolder/loyaltyCard.webp");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 98%;
height: 96%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50px;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
 } 
 
 .loyaltyCardMain div  h1{
  background: rgb(72, 153, 72);
  border-radius: 50px;
  width: 40%;
  font-size: 200%;
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 0.5%;
  padding-left: 10%;
 } 
 .googleMapMain{
  margin: 0 0 0 5% ;
  border-radius: 50px;
  height: 500px;
  width: 100%;
  display: flex;


 }
 .googleMapMainContainer{
  border-radius: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  width:80%;
  margin: 1% 0 0 10%;


 }
 .contactMainContainer{
  display: flex;
  border-radius: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  width: 80%;
  margin: 1% 0 0 10%;
  height: 700px;
  padding: 2%;
 }
 .contactMainSecondContainer{
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
  width: 98%;
  height: 98%;

 }
 .contactMainSecondContainer h1{
  font-size: 200%;
  color: black;
 }
 .contactInput{
  background-color: white;
  border: rgb(0, 0, 0);
  color: rgb(233, 233, 233);
  width: 55%;
  height: 30px;
  border-radius: 50px;
  margin-top: 1%;
  padding: 1%;
 }
 .contactMainSecondContainer textarea{
  border: rgb(233, 233, 233);
  border-radius: 30px;
  width: 56%;
  margin-top: 2%;
  height: 300px;
 }
 .contactMainSecondContainer button{
  border-radius: 50px;
  background-color: rgb(240, 240, 39);
  color: black;
  border: none;
  width: 30%;
  height: 50px;
  font-weight: bold;
  margin: 1% 0 0 -27%;
 }
 .socialsFooter{
  background-color: rgb(46, 46, 46);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  position: relative;
  z-index: 5;
 }
 .allLinksMain1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 } 

  .footerLinksContainer{
  background-color: rgb(117, 117, 117);
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  margin: 0% 0 0 0 ;
  position: relative;
  z-index: 5;
  }
  .allLinksMain2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footerLinksContainer div ul p {
    font-weight: lighter;
   
    }
.footerLinksContainer div  h1 {
  font-size: 130%;
  
  }
  hr{
    height: 1px;
    background-color: white;
    color: white;
    width: 75%;
    margin-left: 12.5%;
  }
  .searchBar{
    background-color: white;
    color: rgb(216, 216, 216);
    margin-left: 10%;
    height: 30px;
    border-radius: 10px;
    border: solid black 2px;
    padding: 1%;
    font-size: 200%;
    border: none;
    &:focus {
      outline: none;
    
     
    }
  }
  .underNavContainer{
    width: 100%;
    background-color: rgb(192, 10, 39);
    height:200px;
    margin-top: -1%;
  }
  .underNavIcons{
    height: 50px;
    width: 50px;
    color: white;
  }
  .underNavIconsContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 0%;
  }
  .underNavIconsContainer div{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
  }
  .bellaLogo{
padding: 5px;
    border: 2px solid transparent;
  }
  .bellaLogoLink:hover{
    
    .bellaLogo{
      
      border: 2px solid  rgb(0, 161, 73);
      border-radius: 50px;

    }
  }
.carouselPizza{
height: 900px;
width: 100%;
}
.HomeBodyMain .carousel div .quatreFromageh1{
margin-left: 20%;

}

.HomeBodyMain .carousel div .quatreFromageh2{
margin-left: 30%;

}
.searchBarAppearnav div input{
  width:100%;
  height: 50px;
  margin-top: -5%;
  margin-left: -30%;
}
.connexionLogoetText i{
 margin-left: -30%;
}
.connexionLogoetText p{
  margin-top: -5%;
  margin-left: 5%;
 }
 .connexionFlexDiv{
  display: flex;
  flex-direction: column;
  margin: 5% 2% 2% 20%;
  
 }
 .connexionFlexDiv form{
  display: flex;
 flex-direction: column;
  
 }
 .connexionRenderDiv{
  padding: 1%;
  border-radius: 50px;
  height: 500px;
  width: 70%;
  margin: 2% 0 2% 15%;
  background-image: url(./picturesFolder/baseTomate1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
 
 }
 .connexionFlexDiv button{
  border: solid 3px rgb(255, 255, 255) ;
  border-radius: 50px;
  width: 30%;
  color: rgb(47, 245, 136);
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 5%;
 }
 .connexionFlexDiv button:hover{
 border-color: rgb(0, 161, 73);
 }
 .connexionFlexDiv label{
  color: white;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 3%;
 }
 .connexionFlexDiv input{
  border-radius: 5px;
  height: 35px;
  margin-bottom: 3%;
  width: 50%;
 }
 .linkStyleMdpFgtn p{
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-weight: bold;
  align-items: center;
 }
 .inscriptionRenderDiv {
  display: flex;
  flex-direction: column;
  background-image: url(./picturesFolder/baseTomate2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 70%;
  border-radius: 50px;
  height: 600px;
  margin: 2% 0 1% 15%;
  padding: 2%;
 }
 .inscriptionFlexDiv{
  padding: 3%;
}
.inscriptionEmailDiv{
  display: flex;
  
}

.inscriptionEmailDiv div{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.inscriptionEmailDiv div label{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 3%;
}
.inscriptionEmailDiv div input{
  border-radius: 5px;
  height: 35px;
  margin-bottom: 3%;
  width: 110%;
}
.inscriptionPwDiv{
  display: flex;
  width: 100%;
  
}
.inscriptionPwDiv div{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.inscriptionPwDiv div input{
  border-radius: 5px;
  height: 35px;
  margin-bottom: 3%;
  width: 110%;
}
.inscriptionPwDiv div label{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 120%;
}
.inscriptionNameDiv{
  display: flex;
  width: 100%;
}
.inscriptionNameDiv div{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.inscriptionNameDiv div label {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 120%;
  
 
}

.inscriptionNameDiv div input {
  border-radius: 5px;
  height: 35px;
  margin-bottom: 3%;
  width: 110%;
}
.inscriptionPhoneDiv{
  display: flex;
  flex-direction: column;
}

.inscriptionPhoneDiv label{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 0%;  
}
.inscriptionPhoneDiv input{
  border-radius: 5px;
  height: 35px;
  margin-bottom: 3%;
  width: 49%;
}
#registerButton{
  border: solid 3px rgb(255, 255, 255) ;
  border-radius: 50px;
  width: 30%;
  color: rgb(47, 245, 136);
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 5%;

}

#registerButton:hover{
  border-color: rgb(0, 161, 73);

}
.linkStyleAlreadyRegistered p{
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-weight: bold;
  align-items: center;
}
.searchResults {
  position: absolute;
  margin-top: 0%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  border: solid black 2px;
  border-top: none;
  margin-top: 10px;
  margin-left: -50px;
  z-index: 10;
}

.searchResultItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.pizzaImage {
  width: 100px;
  height: 80px;
  border-radius: 5%;
}
.pizzaDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.pizzaDetails h2{
  font-weight: bold;
  margin-bottom: 2%;
  color: rgb(240, 14, 52);
  font-size: 300%;
}
.pizzaImageDetails{
  border-radius: 15px;
  width: 35%;
  height: 400px;
}
.pizzaInfoDetails{
  width:75%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.infoPizzaTitles{
  color: rgb(0, 161, 73);
  font-weight: bold;
  font-size: 150%;
}
.pizzaInfosFlexDiv{
  display: flex;
  align-items: center;
  margin-left: 27%;
}
.pizzaDetailsValues{
  font-size: 150%;
  margin-left: 5%;
}
#fullInfosDiv{
  margin-top: -5%;
}
#fullInfosDiv .pizzaDetailsValues{
  margin-top: 10%;
}
@media (max-width: 1290px) {
 .phoneAndNumber{
  display: none;
  
 }
 .searchIconDiv{
  margin-right: 7%;
 }
 .searchIconDiv {
  margin-top: 0%;
 }
 .searchBarAppearnav{
  margin-top: 1.5%;
 }
 .carousel h2{
  margin-top: -50%;
  margin-left: 0%;
 }
 .carousel h1{
  display: none;
 }
 .linkStyleNav{
  display: none;
 }

 


}
@media (max-width: 1072px) {
  .menu {
    display: none;
  }

  .burgerIconDiv {
    display: block;
  }
}

@media (min-width: 1073px) {
  .menu {
    display: flex;
  }

  .burgerIconDiv {
    display: none;
  }
}

.linkPhoneAndNumber{
  display: flex;
  width: 200%;
  margin-right: 6%;
}

.phoneAndNumber{
  display: flex;
  color: white;
  margin-top: 0%;
  font-weight: lighter;
  margin-right: 6%;
  width: 200%;
  height: 35px;
  margin-left: 10%;
}
.phoneAndNumber i{
  font-size: 200%;
  margin-right: 4%;
 
}
#pwIncorrect{
  color: red;
  font-size: 25px;
  font-weight: bold;
}
.linkPhoneAndNumber p{
  width: 200%;
 
}
#mailExistAlready{
  font-size: 25px;
  color: rgb(255, 0, 0);
  font-weight: bold;

  margin-top: -4%;
}